name: build-tools

"on":
  push:
    branches:
      - release-1.12
    paths:
      - .github/workflows/build-tools.yml
      - tools

jobs:
  build-tools:
    runs-on: [ "self-hosted", "linux", "ARM64" ]

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - uses: docker/setup-buildx-action@v2
        with:
          driver-opts: network=host

      - uses: docker/login-action@v2
        name: Login ghcr.io
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build && Push
        env:
          GH_REPO: ${{ github.repository }}
        run: |
          make dockerx.build-tools
